@model Repo_PMS.Models.VMassesment

 @if (TempData.ContainsKey("Message"))


{
    <script type="text/javascript">
        alert('@TempData["Message"]');
  </script>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Assesment</title>
</head>
<body>

    <h4>Assesment</h4>
    <hr />
    <div class="container justify-content-center">
        <div class="col-md-4">
            <form asp-action="AddAssesment">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="assesment.AssessmentName" class="control-label"></label>
                    <input asp-for="assesment.AssessmentName" class="form-control" />
                    <span asp-validation-for="assesment.AssessmentName" class="text-danger"></span>
                </div>



                <div class="form-group">

                    @{
                        var years = new List<SelectListItem>
                    {
                    new SelectListItem{Text="2023",Value="2023"}
                    ,new SelectListItem{Text="2024",Value="2024"}
                    ,new SelectListItem{Text="2025",Value="2025"}
                    ,new SelectListItem{Text="2026",Value="2026"}
                    ,new SelectListItem{Text="2027",Value="2027"}
                    ,new SelectListItem{Text="2028",Value="2028"}
                    ,new SelectListItem{Text="2029",Value="2029"}
                    ,new SelectListItem{Text="2030",Value="2030"}
                    ,new SelectListItem{Text="2031",Value="2031"}

                    };
                    }
                    <label asp-for="assesment.AssessmentYear" class="control-label"></label>
                    <select class="control-select" asp-for="assesment.AssessmentYear" asp-items="years"></select>

                    <span asp-validation-for="assesment.AssessmentYear" class="text-danger"></span>
                </div>



                <div class="form-group">
                    <label asp-for="assesment.A_Description" class="control-label"></label>
                    <input asp-for="assesment.A_Description" class="form-control" />
                    <span asp-validation-for="assesment.A_Description" class="text-danger"></span>
                </div>

                <div class="form-group">

                    @{
                        var reviewcategories = new List<SelectListItem>
                    {
                    new SelectListItem{Text="Mid Year",Value="Mid Year"}
                    ,new SelectListItem{Text="Anual",Value="Anual"}

                    };
                    }
                    <label asp-for="assesment.AssessmentCAtegory" class="control-label"></label>
                    <select class="control-select" asp-for="assesment.AssessmentCAtegory" asp-items="reviewcategories"></select>

                    <span asp-validation-for="assesment.AssessmentCAtegory" class="text-danger"></span>
                </div>



                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="assesment.IsActive" /> @Html.DisplayNameFor(model => model.assesment.IsActive)
                    </label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <H1>Current Review</H1>

        <table border="1">

            <tr>
                <th>@Html.DisplayNameFor(model => model.assesment.Id)</th>
                <th>@Html.DisplayNameFor(Model => Model.assesment.AssessmentName)</th>
                <th>@Html.DisplayNameFor(Model => Model.assesment.A_Description)</th>
                <th>@Html.DisplayNameFor(Model => Model.assesment.AssessmentYear)</th>
                <th>@Html.DisplayNameFor(Model => Model.assesment.IsActive)</th>
                <th>@Html.DisplayNameFor(Model => Model.assesment.AssessmentCAtegory)</th>
                <th>@Html.Display("Operations")</th>
            </tr>

            @{
                if (@Model.assesments != null)
                {

                    foreach (var item in Model.assesments)
                    {
                        <tr>


                            @{
                                string ad;
                                string Action;
                                if (item.IsActive == false)
                                {
                                    ad = "Activate";
                                    Action = "actdeactAssesment";
                                }
                                else
                                {
                                    ad = "Deactivate";
                                    Action = "actdeactAssesment";
                                }


                            }

                            <td>@item.Id</td>
                            <td>@item.AssessmentName</td>
                            <td>@item.A_Description</td>
                            <td>@item.AssessmentYear</td>
                            <td>@item.IsActive</td>
                            <td>@item.AssessmentCAtegory</td>
                            <td>

                                @Html.ActionLink("Edit","EditAssesment",new{id=item.Id}) |
                                @Html.ActionLink("Delete","DeleteAssesment",new{id=item.Id}) |
                                @Html.ActionLink(ad,Action,new{id=item.Id})

                            </td>

                        </tr>

                    }



                }

            }

        </table>



    </div>

</body>
</html>

